/* COLOR NAMES  > 140
As of now there are 148 named colors are there */ 

#first
{
    color: white;
    background-color: black;
}
#second
{
    color: linen;
    background: yellow;
}
  