/* 
 display:inline-block;
 does not start a new line
 browser respects margin,width,height
*/

a 
{
  font-size: 1.5rem;
  background: red;
  width: 6rem;
  height: 4rem;
  margin: 6rem;
  display: inline-block;
}
