<web-app>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>s11</servlet-name>
        <servlet-class>com.excelr.main.Servlet11</servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>s11</servlet-name>
        <url-pattern>/servletEleven</url-pattern>
    </servlet-mapping>
</web-app>