#text
{
    color: red;
}

.text
{
    color: blue;
}

#data
{
    color: tomato;
}

.data
{
    color: aqua;
}

#info
{
    color: blueviolet;
}

.info
{
    color: brown;
}