<web-app>
    <servlet>
        <servlet-name>s3</servlet-name>
        <servlet-class>com.excelr.main.Servlet3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s3</servlet-name>
        <url-pattern>/servletThree</url-pattern>
        <url-pattern>/abc</url-pattern>
        <url-pattern>/xyz</url-pattern>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>