/* 
text-align, text-indent
*/
body 
{
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.main-heading 
{
  font-family: "Trade Winds", cursive;
}
.sub-heading
{
  font-style: italic;
}
.one
{
  font-weight: bold;
}
.two
{
  font-weight: lighter;
  font-style: italic;
  font-style: oblique;
  font-style: normal;
  font-weight: bolder;
}
