<!-- recommeded to write all the tags in lower case -->
<!-- web-app is the root tag. in the body of the root tag we need to keep servlet tag -->
<web-app>
	<servlet>
		<!-- for the lengthy class names we are giving alias names -->
		<!-- whitespaces are allowed before and after the identifer -->
		<servlet-name>s1</servlet-name>
		<servlet-class>com.excelr.pack1.HelloServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<!-- now we dont have to mention the servlet name. just we can mention the servlet identifier -->
		<servlet-name>s1</servlet-name>
		<!-- url pattern should be starting with '/' followed by any identifier name -->
		<!-- now HelloServlet is assigned to s1 -->
		<!-- HelloServlet can be referred through s1 -->
		<!-- s1 is mapped to one url called 'hello' -->
		<!-- the same s1 can be mapped to any no. of urls -->
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

</web-app>